main {
	width:100%;
	height:900px;
	}
footer {
    background-color:rgba(180, 180, 180, 0.932)
    
	}
article,  {
	height: 90%;
	}
article {
	background-color:rgb(254, 254, 254);
    width:100%;
    height: 900px;
	}
nav {
	background-color:rgb(255, 255, 255);
    height: 25px;
    width: 100%;
    }
ul  {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
    }
ul li {
    display: inline;
    float: left;
    padding: 14px 16px;
    
}    

.rightSide{
    float:right;
}

.googleLogo{
    position: relative;
    width:800px;
    height:600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.searchBar{
    position: absolute;
    right: 37%;
    top: 50%;
    border-radius: 25px;
    border: 2px solid rgb(148, 148, 148);
    width: 500px;
    height: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
    font-weight: bold;
    outline: none;
    
}

.searchButtonPosition{
    position: absolute;
    left: 40%;
    top: 57%;
}

.searchButton{
    width:150px;
    height:40px;
}

a:link {
    text-decoration: none;
    color: black;
  }
a:visited {
   text-decoration: none;
}
a:hover {
    text-decoration: underline;
  }

.bottomNav{
    
    border: .5px solid rgb(199, 199, 199) ;
}

